@{
    ViewBag.Title = "Hem";
}


<div class="channels">
    <section>
        <h1>SVT 1</h1>
        <ul>
            <li><h2>16:30 Strömsö</h2></li>
        </ul>
    </section>
    <section>
        <h1>SVT 2</h1>
        <ul>
            <li><h2>16:15 Vetenskapens Värld</h2></li>
        </ul>
    </section>
    <section>
        <h1>TV4</h1>
        <ul>
            <li><h2>15:55 En plats i solen: Sommarsol</h2></li>
        </ul>
    </section>
    <section>
        <h1>TV6</h1>
        <ul>
            <li><h2>16:00 Scrubs</h2></li>
        </ul>
    </section>
    <section>
        <h1>TV10</h1>
        <ul>
            <li><h2>16:00 Car S.O.S</h2></li>
        </ul>
    </section>
    <section>
        <h1>TV12</h1>
        <ul>
            <li><h2>16:00 Cops Reloaded</h2></li>
        </ul>
    </section>
</div>
